<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/authors/add">Add Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/books/add">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/readers/add">Add Reader</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/readers/{reader-name}/receive">Receive book</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/readers/{reader-name}/return">Return book</a>
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link text-dark" href="/authors/all">All Authors</a>
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link text-dark" href="/books/all">All Books</a>
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link text-dark" href="/readers/all">All Readers</a>
            </li>
        </ul>
    </div>
</nav>
