<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Book Details</h1>
                    <br>
                    <br>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6"><img src="/pic/book_1.png" height="350px"></div>
                    <div class="col-md-6 pt-3">
                        <h2>Book</h2>
                        <h4 th:text="'Title: ' + ${bookDetails.title}"></h4>
                        <h4 th:text="'Author: ' + ${bookDetails.nameAuthor}"></h4>
                        <h4 th:text="'Yaer of published: ' + ${bookDetails.yearOfPublished}"></h4>
                        <br>
                        <div th:if="${bookDetails.getNameReader() == null}" th:text="${'Книга свободна'}"></div>
                        <div th:if="${bookDetails.getNameReader() != null}"
                             th:text="${'Книга находится у: ' + bookDetails.getNameReader() + ' с даты: ' + bookDetails.getReceivedIn()}"></div>
                        <br>
                        <br>
                        <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                                     th:href="@{/books/book-delete/{book-title}(book-title=${bookDetails.title})}">Delete book</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>